<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Restaurant catalogue">
	<meta name="theme-color" content="#FFFFFF">
	<link rel="icon" href="favicon.png">
	<link rel="manifest" href="manifest.json">
	<link rel="apple-touch-icon" href="/icons/icon-192x192.png">
	<script src="https://use.fontawesome.com/b070c8f1df.js"></script>
	<title>NongkiKuy</title>
</head>
<body>
	<a href="#main" class="skip-content">Skip to Content</a>
	<header class="app-bar">
		<div class="app-bar__brand">
			<h1>NongkiKuy</h1>
		</div>
		
		<nav id="navigationDrawer" class="app-bar__navigation">
			<div class="app-bar__logo">
				<picture>
					<source type="image/webp" srcset="./brand-logo.webp">
					<source type="image/png" srcset="./brand-logo.png">
					<img src="./brand-logo.png" width="40" height="40" alt="brand logo">
				</picture>
			</div>
			<ul id="navLink">
				<li><a href="#/restaurant" class="nav">Home</a></li>
				<li><a href="#/favorite" class="nav">Favorite</a></li>
				<li><a href="https://www.linkedin.com/in/fahrul-ardian-nugroho-49a45719a/" target="_blank" rel="noopener">About Us</a></li>
			</ul>
		</nav>

		<div class="mobile-icon">
			<div class="search-icon" id="searchIcon">
				<button aria-label="search button">
					<a href="#/search" >
						<div class="search icon">.</div>
					</a>
				</button>
			</div>
			<div class="app-bar__menu">
				<button aria-label="hamburger button" id="hamburgerButton">
					<span class="span1"></span>
					<span class="span2"></span>
					<span class="span3"></span>
				</button>
			</div>
		</div>
	</header>

	<div class="jumbotron" id="jumbotron">
		<picture>
			<source type="image/webp"
				srcset="./jumbotron-small.webp 480w, ./jumbotron-large.webp 1440w"
				sizes="(max-width: 600) 480px, 1440px"
				width="480" height="320">        
			<source type="image/png"
				srcset="../jumbotron-small.png 480w, ./jumbotron-large.png 1440w"
				sizes="(max-width: 600) 480px, 1440px"
				width="480" height="320"> 

			<img src="./jumbotron-small.png" alt="Hero Image"
				srcset="./jumbotron-small.webp 480w, ./jumbotron-large.webp 1440w"
				sizes="(max-width: 600) 480px, 1440px"
				width="480" height="320">
		</picture>
		<div class="jumbotron__inner">
				<h2>Welcome, Happy Today!</h1>
				<p>
					Relax, enjoy your favorite<br>
					restaurant.
				</p>
		</div>
	</div>

	<div class="searchbar" id="searchBar">
			<input type="search" id="searchQuery" class="searchbar__input" placeholder="Search a restaurant..." required>
			<button id="searchButton" class="searchbar__button">Search</button>
	</div>

	<main id="main">
	</main>

	<footer>
		<p>Copyright © 2020 - Nongkikuy. All rights reserved</p>
	</footer>
</body>
</html>